<div class="row mt-3">
  <table class="table table-light">
    <thead class="thead-light">
      <tr>
        <th>API</th>
        <th>Description</th>
        <th>Auth</th>
        <th>HTTPS</th>
        <th>Cors</th>
        <th>Link</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of entries">
        <th>{{ item.API }}</th>
        <th>{{ item.Description }}</th>
        <th>{{ item.Auth }}</th>
        <th>{{ item.HTTPS }}</th>
        <th>{{ item.Cors }}</th>
        <th><a href="{{ item.Link }}" target="_blank">Visit</a></th>
        <th>{{ item.Category }}</th>
      </tr>
    </tbody>
  </table>
</div>
